
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.vcenter {
    vertical-align: middle;
}

#title 
{
	margin-top: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #C3C3C3;
}

h1
{
	font-size: 44px;
}

#languages
{
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #C3C3C3;
}

#languages .row div
{
	height: 220px;
}

#footer .container
{
	padding-bottom: 20px;
	padding-top: 20px;
}